name: CI

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Check for consecutive empty lines
        run: python3 scripts/check-consecutive-empty-lines.py
      - uses: leanprover/lean-action@v1